<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACTOS | Detalles</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/details_delete.css">
</head>
<body class="bg-light">
    <div class="container">
        <div class="col-md-8 offset-md-2">
            <div class="header">
                <h1 class="text-center">Detalles del Contacto</h1>
            </div>
            <div>
                <p class="lead">Email: <span id="email"></span></p>
                <p class="lead">Nombre: <span id="nombre"></span></p>
                <p class="lead">Teléfono: <span id="telefono"></span></p>
            </div>
            <button type="button" class="btn btn-outline-dark" onclick="goBack()"><h4>Atras</h4></button>
        </div>
    </div>
    <script src="../static/js/details.js"></script>
</body>
</html>